.cardMain{
    min-width: 320px;
    max-width: 500px;
    height: fit-content;
    padding: 20px;
    text-align: justify;
    background-color: #211e1e;
    color: white;
    border-radius: 15px;
    margin: 20px;
    font-family: montserrat;
}

.cardDate{
    margin: 5px 0;
    font-size: large;
    letter-spacing: 0.7px;

}

.cardButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.cardButton>button{
    margin-top: 15px;
    margin-right:  30px;
    width: 20px;
    font-size: x-large;
    background: none;
    color: aliceblue;
    outline: none;
    border: none;

}
