


.addtask{
    width: 320px;
    background-color: #211e1e;
    margin: 20px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.backBtn{
    margin: 20px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 500px;
    width: 50px;
    height:50px ;
    padding: 8px;


}

.addtask:hover{
    background-color: #282525;

}

.inputDiv{
    width: 320px;
    background-color: #211e1e;
    margin: 20px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: flex-end; */

}

.modifyButton{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}
.modifyButton>button{
    padding: 3px 10px;
    margin: 10px;
    font-size:20px;
    
 width: 160px;
    font-weight: 600;
    border-radius: 4px;
border: none;
outline: none;
color: white;
background: #2b2929;



}

.taskInput{
    margin: 10px;
    background:none;
    color: white;
    border: none;
    outline: none;
    font-size: larger;
    text-decoration: underline;
    max-width: 100%;
    height: fit-content;
    overflow: auto;
    word-wrap: break-word;
    padding: 0 10px;
    scroll-behavior: auto;
height: 90px;
resize: none;

}

/* .conatinerWrap{
    display: flex;
    flex-direction: row;

}
.pending{
    width: 75vw;

}
.completed{
    width: 25vw;
} */

.addTaskButton{
     color: white;
     background: none;
     border: none;
     outline: none;
     font-size:40px;
     width: 100%;
     height: 100%;

}










.taskHead{
    margin: 0 20px;
    font-size: xx-large;
    font-weight: 700;
    /* letter-spacing: 1px; */
    font-family: poppins;
    /* font-family: montserrat; */


}

.taskCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* max-height: 500px; */
    /* overflow-y: scroll; */

}